@import '../../index.scss';

.ph-button {
  border-radius: 100px;
  cursor: pointer;
  font-size: 1rem;
  height: 50px;
  min-width: 180px;
  padding: 0 .25rem;
  text-align: center;

  &.primary {
    background-color: $green;
    color: $near-black;
    &:hover, &:active, &:focus {
      background-color: $green-secondary;
      color: $white;
    }
  }

  &.secondary {
    border-color: $near-black;
    background-color: $white;
    color: $near-black;
    &:hover, &:active, &:focus {
      background-color: $near-black;
      color: $white;
    }
  }

  &.link {
    border: none;
    color: $blue-darker;
    text-decoration: underline;
    &:hover, &:active, &:focus {
      color: $blue-darkest;
      text-decoration: none;
    }
  }
}